*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(#fd1d1d,#fcb045,#f89100,#fd1d1d );
    height: 400vh;
    font-family: 'Poppins', sans-serif;

}
.header-Pmanut{
    width: 100%;
    height: auto;
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.div-logo-tit-header{
    display: flex;

}
.logo-header{
    width: 200px;
    height: auto;
    margin-left: 50px;
    backdrop-filter: blur(4px);
    padding: 15px;
}
.div-linha-header{
    width: 2px;
    height: 40px;
    background-color: white;
    margin: 5px 30px;
    margin-top: 20px;
}
.tit-header{
    margin-top: 25px;
    color: white;
    background: linear-gradient(45deg, #fd1d1d,#fcb045, #833ab4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Input-pesquisa-header{
    width: 380px;
    height: 30px;
    border-style: none;
    border-radius: 100px;
    margin: 25px 0px;
    transition: 1s ease;
    background-color: rgb(221, 221, 221);
    padding: 5px 10px;
}
.Input-pesquisa-header:hover{
    transform: scale(1.0);
    border: solid 1px rgba(0, 0, 0, 0.233);
    
    
    
}
.barra-pesquisa-header{
    margin-right: 30px;
}
.btn-ancora-header{
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 30px;
   
    
    
}
.btn-ancora-header:hover{
    border: solid 1px rgba(0, 0, 0, 0.233);
}
.img-btn-ancora-header{
    width: 15px;
    height: 15px;
}
.perfil-usuário{
    transform: translateX(-30px);
}

.div-pai-full-slides{
    display: flex;
}
.box-slides {
    margin-top: 100px;
    width: 35%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 40s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); } 
    50% { transform: translateX(-200%); }
     
    100% { transform: translateX(0); } 
}
.div-objetivo{
    width: 100% -0px;
    height: auto;
    background-color: transparent;
    text-align: center;
    margin:40px;
    border-radius: 20px;
    color: white;

}
.div-total-cards{
    background-color: transparent;
    display: flex;
    width: 100%;
    height: auto;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
    
}
.card{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    box-shadow: 1px 1px 10px 0px black;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.card.visible {
    opacity: 1;
}
.card ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.card li{
    margin: 5px 15px;
}
.tit-card{
    background: linear-gradient(45deg, #fd1d1d,#fcb045, #fd1d1d );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    
    

}
.tit-card:hover{
    transform: scale(1.2);
}
.txt-card{
    text-align: center;
    font-size: 14px;
    margin: 0px 15px;
    width: 20rem;
    

}
.div-ul-li{
    display: flex;

}
.ul-card{
    
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.li-card{
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s ease;
    color: rgb(255, 136, 0);
}
.li-card:hover{
    color: red;

}

a{
    cursor: pointer;
    all: unset;
}

.Btn-sig-popup {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    margin: 30px;
    background-color: #f76f00;
    transition: 0.5s ease;
    color: white;
}
.Btn-sig-popup:hover{
    transform: scale(1.1);
}
  
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup ul{
    list-style-type: none;
}
.popup li{
    margin: 5px 15px;
}
.popup-content {
    width: 100%;
    height: 100%;
    margin-top: 6.7rem;
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
  
#closePopup {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    background-color: #f76f00;
    color: white;
    transition: 0.5s ease;
    transform: translateY(-110%);

}
.subtit-popup-sig{
    color: #f76f00;
}
.div-linha{
    width: 2px;
    height: 90%;
    background-color: #ffb97f;
    margin-left: 30px;
}
.ul-subtit-popup{
    margin-left: 25px;
    color: #f76f00;
}
.sub-subtit-popup{
    color: #f76f00;
    padding-top:10px;
}

.div-icons-microsoft{
    display: flex;
}
.icon-cardMicrosoft{
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 15px;
}
.ul-card-microsoft{
    display: flex;
    
}

.ul-card-microsoft li{
    
    margin: 15px 15px;   
}
.icon-MES{
    cursor: pointer;
}
.QRCODE-BRADY{
    width: 100px;
    height: 100px;
}
.tit-QRCODE-BRADY{
    padding-top: 30px;

}
.btn-MatrizesBloqueio{
    padding: 15px;
    margin: 15px;
    font-size: 16px;
    color: white;
    background-color: #f76f00;
    border-radius: 20px;
    cursor: pointer;
    border-style: none;
    transition: 0.5s ease;
}
.btn-MatrizesBloqueio:hover{
    transform: scale(1.1);
    background-color: #ff9f50;
}
.popup2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-content-2 {
    width: 95%;
    height: 95%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}
.btn-closed-brady{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    background-color: #f76f00;
    color: white;
    transition: 0.5s ease;
    transform: translateY(-110%);
   

}
.div-matrizesBloqueio{
    display: flex;
    justify-content: space-evenly;
    padding:50px;
}
.ul-matrizes{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.h3-matrizes{
    color: #f76f00;
}
.li-matrizes{
    padding: 0;
    margin: 5px 35px;
    cursor: pointer;
    color: #f89100;
    font-size: 15px;
}
.li-matrizes:hover{
    color: red;
}
.amu360icon{
    width: 200px;
    height: auto;
}
.h1-obj{
    font-size: 30px;
    color: white;
    padding: 50px 0px;
    
}
.Brady-red{
    color: red;
}
.ul-cartasbloqueio{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #ffff;
    margin-top: 105px;
    z-index: 100;
}

#progress-bar-fill {
    height: 100%;
    background: linear-gradient(45deg, #fd1d1d,#fcb045, #fd1d1d);
    width: 0%; 
}
.div-online-pins{
    width: 100%;

}
.pins-range{
    border-style: none;
    width: 100%;
    height: 100%;
}

.div-back-documentosgeral{
    background-color: transparent;
    width: 100%;
    height: auto;
    text-align: center;
}